<?xml version="1.0"?>
<launch>
  <arg name="x_pos" default="0.0" />
  <arg name="y_pos" default="0.0" />
  <arg name="z_pos" default="0.0" />

  <include file="$(find umbot)/launch/gazebo_world.launch" />

  <!-- <param name="robot_description" -->
  <!--   command="$(find xacro)/xacro  $(find umbot)/urdf/mybot.xacro" /> -->
  <param name="robot_description"
    command="$(find xacro)/xacro $(find umbot)/urdf/mybot.xacro use_nominal_extrinsics:=true publish_pointcloud:=true add_plug:=false name:=umbot topics_ns:=umbot" />


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"></node>

  <!-- <node pkg="gazebo_ros" type="spawn_model" name="spawn_urdf" -->
  <!--   args="-urdf -model mybot.xacro -x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param
  robot_description" /> -->
  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
    args="-z 1.0 -unpause -urdf -model $(find umbot)/urdf/mybot.xacro -param robot_description"
    respawn="false"
    output="screen" />


  <!-- loads rviz -->
  <arg name="gui" default="True" />
  <param name="use_gui" value="$(arg gui)" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_description)/rviz/urdf.rviz"
    required="true" />


</launch>
