<?xml version="1.0"?>
<launch>

  <include file="$(find umbot)/launch/gazebo_world.launch" />
  <arg name="paused" value="false"/>
  <arg name="use_sim_time" value="true"/> 
  <!-- loads rviz -->
  <arg name="gui" default="True" />
  <param name="use_gui" value="$(arg gui)" />

  <param name="robot_description"
    command="$(find xacro)/xacro --inorder $(find umbot)/urdf/mybot.xacro use_nominal_extrinsics:=true publish_pointcloud:=true add_plug:=false name:=umbot " />


  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
    <param name="publish_frequency" type="double" value="30.0" />
  </node>
  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"></node>

  <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" args="-unpause -urdf -model mybot -param robot_description" respawn="false" output="screen" />
  <!-- args="-z 1.0 -unpause -urdf -model $(find umbot)/urdf/mybot.xacro -param robot_description" -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find realsense2_description)/rviz/urdf.rviz" required="true" />


</launch>
